@import "../_styles/variables";
@import "../_styles/mixins";

.#{$prefixCls}-gift-panel {
  background-color: #0B1C29;
  display: none;

  &-visible {
    display: block;
  }

  &-fixed {
    &-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }
  }

  &-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
  }

  &-header {
    @include flex();
    color: #fff;
    position: relative;
    padding: 12px;

    &-title {
      font-size: 16px;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 10px 30px;

    &-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      margin: 0 5px;
      min-height: 100px;
      overflow: hidden;

      &-selected {
        background-color: #FFFFFF26;
        border-radius: 4px;

        &-pay {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          color: #fff;

          &-title {
            font-size: 10px;
            text-align: center;
          }

          &-button {
            width: 100%;
            height: 24px;
            line-height: 24px;
            background: #EF4149;
            font-size: 10px;
            text-align: center;
          }
        }
      }

      &-icon {
        padding: 10px;
        width: 100%;
        @include flex();

        &-img {
          width: 30px;
          height: 30px;
          object-fit: contain;
        }
      }

      &-text {
        text-align: center;
      }

      &-title, &-price {
        font-size: 10px;
        line-height: 16px;
      }

      &-title {
        color: #fff;
      }

      &-price {
        color: #999999;
      }
    }
  }
}
