.basic-table {
  &-title {
    display: inline-block;
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  &-status {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      background-color: #BFBFBF;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-right: 4px;
    }

    &-living {
      &::before {
        background-color: #4BC310;
      }
    }

    &-forceClosed {
      &::before {
        background-color: #EF4149;
      }
    }
  }
}
