.fullContent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// page
.page {
  position: relative;
  height: 100%;
  width: 100%;
}

.playerContainer {
  height: 100%;
  background-color: #333;
  position: relative;
}

.player {
  width: 100%;
  height: 100%;

  video {
    object-fit: cover !important;
  }
}

.playerChangeBtn {
  position: absolute;
  right: 0;
  bottom: 120px;
  height: auto;
  z-index: 1;
}

.liveContainer {
  @extend .fullContent;
  color: #fff;
}

.noLive {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;

  > span {
    display: inline-block;
    margin-top: 0.3rem;
    font-size: 0.4rem;
  }
}

.noLivePlaceholder {
  padding: 14px 0;
}

.top {
  position: relative;
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.3rem;
}

.roomInfoContainer {
  min-width: 3.5rem;
}

.roomInfo {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  padding: 0.1rem 0.3rem 0.1rem 0.1rem;
  border-radius: 0.5rem;
}

.avatar {
  flex-shrink: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  padding-top: 0.05rem;
  padding-left: 0.15rem;
  max-width: 4rem;
}

.title {
  font-size: 0.32rem;
  line-height: 1;
  @extend .ellipsis;
}

.data {
  span {
    display: inline-block;
    font-size: 0.26rem;
    line-height: 1;
  }
}

.notice {
  cursor: pointer;
  margin-top: 0.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 0.4rem;
  padding: 0.08rem 0.23rem;
  max-width: 3.1rem;
  font-size: 0.26rem;
  color: rgba(255, 255, 255, 0.9);
  background-image: url('../_images/icon-notice.svg');
  background-repeat: no-repeat;
  background-position: 0.2rem 0.1rem;
  background-size: 0.34rem auto;

  span {
    font-size: 0.28rem;
    display: inline-block;
    padding-left: 0.4rem;
  }
}

.close {
  font-size: 0.4rem;
  height: 0.7rem;
  width: 0.7rem;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  vertical-align: middle;
  line-height: 0.7rem;
  border-radius: 50%;
}

.interaction {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.27rem;
  padding-bottom: 0.15rem;
}

.chatWindow {
  height: 4.5rem;
  overflow: scroll;
  padding: 0 0.2rem 0;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.chatItem {
  max-width: 85%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0.05rem 0;
  padding: 0.17rem 0.2rem;
  border-radius: 7px;
  align-self: flex-start;
  word-break: break-all;

  span.emphasize {
    color: #52ede3;
  }

  a {
    color: #66b1f7;
    text-decoration: underline;
  }
}

.chatItemNotice {
  color: #52ede3;
}

.operations {
  display: flex;
  padding: 0.1rem 0.2rem 0.4rem;
}

.chatInput {
  color: #fff;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding-left: 0.4rem;

  &::-webkit-input-placeholder {
    color: #fff;
  }
}

.operationBtn {
  position: relative;
  box-sizing: content-box;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0 0 0 0.2rem;

  img {
    height: 100%;
    width: auto;
  }
}

.likeAnimeContainer {
  position: absolute;
  bottom: 80%;
  width: 120%;
  height: 2rem;
  left: 0;
}
