@import "../../_styles/variables";

.#{$prefixCls}-icon-barrage {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  color: #fff;
  font-size: 16px;
  position: relative;
  overflow: hidden;

  &-close {
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: #000;
      left: 50%;
      top: 0;
      transform: rotate(-45deg) translateX(-50%);
    }
  }
}
