.login-form {
  box-sizing: border-box;
  //width: 910px;
  //height: 504px;
  background: #FFFFFF;
  box-shadow: 0 4px 18px 0 rgba(4, 90, 133, 0.50);
  border-radius: 8px;
  display: flex;
  overflow: hidden;

  h1 {
    font-family: PingFangSC-Medium, sans-serif;
    font-size: 20px;
    color: #1890FF;
    margin-bottom: 66px;
  }

  .left {
    width: 465px;
    flex-shrink: 0;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right {
    padding: 75px 26px 0;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    .bar {
      background-image: url("./bar.svg");
      display: inline-block;
      width: 112px;
      height: 2px;
      background-size: 100% 100%;
      @media screen and (max-width: 640px) {
        width: 80px;
      }

      &-mirror {
        transform: rotateY(180deg);
      }
    }

    .text {
      margin: 0 20px;
    }
  }

  .captcha {
    display: flex;
  }

  .sms-input {
    padding-right: 90px;

    &-btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .countdown-button {
    position: absolute;
    right: 0;
    height: 32px;
    text-align: center;
    line-height: 32px;
    width: 90px;
    padding: 0;
  }

  .tip {
    margin-bottom: 20px;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 12px;
    color: #999999;
  }

  .button {
    //margin-top: 20px;
    text-align: center;
    border-radius: 26px;
    height: 42px;
    font-size: 16px;
  }

  .body {
    .ant-form-item-label {
      font-family: PingFangSC-Medium, sans-serif;
      font-size: 14px;
      color: #000000;
    }

    .base-input {
      border-bottom: 1px solid #E8E8E8;
      padding-left: 0;

      &:focus {
        border-bottom-color: #1890FF;
      }
    }
  }

  .agreement-check {
    text-align: center;
    cursor: pointer;
    font-family: PingFangSC-Regular, sans-serif;
  }

  .agreement {
    font-size: 12px;
    color: #007AFF;
    letter-spacing: 0;
    margin-left: 8px;
  }

  .blank-link {
    font-family: PingFangSC-Semibold, sans-serif;
    font-weight: bold;
  }
}

@media screen and (max-width: 640px) {
  .login-form {
    width: 100%;
    height: 100%;
    border-radius: 0;

    .left {
      display: none;
    }

    .right {
      width: 100%;
    }

    .header {
      .bar {
        width: 80px;
      }
    }
  }
}
