.fullContent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page {
  padding: 0.1rem 0.2rem;
  overflow: scroll;
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.list {
  display: grid;
  grid-template-columns: 50% 50%;
}

.listItem {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  border-radius: 8px;
  height: 4.5rem;
  margin: 0.1rem 0.06rem;

  &::after {
    content: '';
    @extend .fullContent;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.itemInner {
  @extend .fullContent;
  z-index: 1;
  color: #fff;
}

.infoContainer {
  position: absolute;
  bottom: 0.2rem;
  display: flex;
  align-items: center;
  padding-left: 0.15rem;
}

.avatar {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  margin-left: 0.12rem;
  max-width: 2rem;
}

.title {
  font-size: 0.2rem;
  @extend .ellipsis;
}

.id {
  font-size: 0.16rem;
  @extend .ellipsis;
}

.online {
  background-image: url('./icon-flame.svg');
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: 0.18rem center;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-top: 0.2rem;
  margin-left: 0.15rem;
  padding: 0.05rem 0.15rem 0.05rem 0.5rem;
  border-radius: 0.22rem;
  font-size: 0.16rem;
}

.noMore {
  text-align: center;
  color: #807f7f;
  font-size: 12px;
  padding: 10px 0;
}

.empty {
  @extend .fullContent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyDescription {
  padding: 10px 0;
}
